<?xml version="1.0"?>
<robot name="goliath_mobile" xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- Import goliath macro -->
  <xacro:include filename="$(find ros2_control_demo_description)/goliath/urdf/goliath_description.urdf.xacro"/>

  <xacro:include filename="$(find hoverboard_demo_description)/urdf/hoverboard_description.xacro"/>
  
  <xacro:include filename="$(find gripper_controller)/urdf/gripper.xacro"/>
  
  <!-- create link fixed to the "world" -->
  <!-- <link name="world"/>  -->

  <xacro:goliath_description/>

  <!-- Import goliath ros2_control description -->
  <xacro:include filename="$(find goliath_controller)/ros2_control/goliath.ros2_control.xacro" />
  
  <xacro:include filename="$(find hoverboard_demo_description)/urdf/ros2_control.xacro" />

  <!-- <xacro:include filename="$(find gripper_controller)/ros2_control/gripper.ros2_control.xacro" /> -->

  <xacro:goliath_ros2_control name="goliath_mobile"/>

</robot>
