<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="goliath_mobile">
    <!-- <xacro:arg name="initial_positions_file" default="initial_positions.yaml" /> -->

    <!-- Import goliath_mobile urdf file -->
    <xacro:include filename="$(find goliath_controller)/urdf/goliath.urdf.xacro" /> 
   
   
    <!-- <xacro:include filename="$(find gripper_controller)/ros2_control/gripper.ros2_control.xacro" /> -->
    

</robot>
