<?xml version="1.0" ?>
<robot name="gripper" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<material name="gripper_silver">
  <color rgba="0.700 0.700 0.700 1.000"/>
</material>

<material name="gripper_black">
  <color rgba="0 0 0 1"/>
</material>

<material name="transparant_blue">
  <color rgba="0 0 1 0.5"/>
</material>

</robot>
